


div#board {
    /* border: thin solid black; */
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-flow: wrap;
    /* padding: 0px 40px; */
    text-align: center;
    max-width: 600px;
}

.board-position {
    width: 16%;
    border: thin solid lightgray;
}

.popup {
    display: block;
    position: fixed;
    width: 80vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 21px #ddd;
    padding: 4%;
    top: 0;
    height: auto;
    background: white;
}

input#column {
    width: 10vw;
    height: 1em;
    margin-top: 20px;
    font-size: 4em;
    text-align: center;
}

button {
    margin-left: 0;
    font-size: 20px;
    padding: 10px;
    display: block;
    margin-top: 20px;
}

h1 {
    font-size: 1.5em;
}






