
div#board {
    display: flex;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    transform: rotate(90deg) rotateX(180deg);
    background-image: url(https://i.stack.imgur.com/vNpylm.png);
    background-repeat: no-repeat;
    background-size: 655px 655px;
    overflow: hidden;
    width: 574px;
    height: 490px;
    margin-top: 55px;
}

.board-position {
    border: thin solid lightgray;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.popup {
    display: block;
    position: static;
    width: 80vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 2%;
    top: 0;
    background: white;
    max-width: 600px;
    height: 10vh;
    padding-bottom: 0;
    margin-bottom: 12px;
}

.popup-div {
    display: grid;
    grid-template-columns: 40% 60%;
}

input#column {
    font-size: 1em;
    text-align: center;
    height: 31px;
    width: 90%;
}

button {
    margin-left: 0;
    font-size: 14px;
    display: inline;
    margin-top: 0;
    height: 35px;
    padding: 0;
}

h1 {
    font-size: 1.5em;
}

.yellow, .red {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 95px;
    text-align: center;
    margin: 0 auto;
    border: thick solid #551;
    height: 64px;
    width: 64px;
    background: yellow;
}

.red {
    background: red;
}

.mt-1 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.inline {
    display: inline;
}

.sm-button {
    width: 40px;
}







