Options +Indexes

RewriteEngine On


#RewriteCond %{REQUEST_URI} /$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l


RewriteRule ^([0-9]+)/?$ /index.php?request_code=game&game_id=$1 [QSA,L]
RewriteRule ^create-game/?$ /index.php?request_code=create_game [QSA,L]
RewriteRule ^([0-9]+)/game_positions/?$ /index.php?request_code=get_game_positions&game_id=$1 [QSA,L]
RewriteRule ^([0-9]+)/place_game_piece/(yellow|red)/([1-6])?$ /index.php?request_code=place_game_piece&game_id=$1&color=$2&column=$3 [QSA,L]
RewriteRule ^([0-9]+)/nearest_to_bottom_game_position/([1-6])?$ /index.php?request_code=get_nearest_to_bottom_game_position&game_id=$1&column=$2 [QSA,L]
RewriteRule ^([0-9]+)/game_info/([a-z_]+)?$ /index.php?request_code=game_info&game_id=$1&game_info=$2 [QSA,L]


ErrorDocument 404 /index.php
