Options +Indexes

RewriteEngine On


#RewriteCond %{REQUEST_URI} /$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l


RewriteRule ^create-game/?$ /index.php?request_code=create_game [QSA,L]
RewriteRule ^([0-9]+)/game_positions/?$ /index.php?request_code=get_game_positions&game_id=$1 [QSA,L]


ErrorDocument 404 /index.php
